.react-calendar__navigation{
    height: 1em !important;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.react-calendar__month-view__weekdays{
    font-weight: lighter;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.7em;
}   
.react-calendar{
    border: 0.6px solid rgba(201, 201, 200, 1);
    border-radius: 4px;
}
.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus{
    background: none;
}
.react-calendar__tile{
    line-height: 0em;
}
.react-calendar__tile:nth-child(n){
    border-bottom: 1px solid rgba(201, 201, 200, 1);
    border-right: 1px solid rgba(201, 201, 200, 1);

}
.react-calendar__tile:nth-last-child(-n+7){
    border-bottom: none;
}
.react-calendar__tile:nth-child(7n){
    border-right: none;
}
button{
    border-radius: 0 !important;
}
.react-calendar__month-view__days{
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

