.image-rental {
    width: 2rem;
    height: 2rem;
}
.rental-container {
    height: 4rem;
    border: 1px solid rgba(220, 219, 217, 1);
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
}
.rental-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.rental-header {
    width: 100%;
    display: flex;
}
.rental-header p {
    margin-right: 0.5rem;
    font-size: 8px;
    line-height: 10px;
}
.rental-text p {
    font-size: 8px;
    line-height: 10px;
}