body {
  font-family: "Helvetica Neue";
  font-size: 12px;
  margin: 0;
  padding: 0;
}

p {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
